.todo-item {
  margin-bottom: 10px;
  cursor: pointer;
}

.todo-item, .header-container {
  display: flex;
  justify-content: space-between;
}

.todo-content {
  display: flex;
}

.delete {
  display: none;
  cursor: pointer;
}

.todo-item:hover .delete {
  display: block;
}

.header-container {
  
  align-items: center;
}

.header-container:hover .delete {
  display: block;
}

.item-done, .item-undone, .item-doing {
  width: 10px;
  margin-right: 10px;
}

.item-undone {
  background: lightblue;
}

.item-done {
  background: mediumseagreen;
}

.item-doing {
  background: orange;
}

.item-text-done, .item-text-undone, .item-text-doing {
  font-weight: 600;
  cursor: pointer;
}

.item-text-done {
  text-decoration: line-through
}

.header, .editable-header {
  font-size: large;
  font-weight: 800;
  margin: 15px 0;
}

.header {
  cursor: pointer;
}

.textbox {
  width: 180px;
  font-weight: inherit;
  font-size: inherit;
}
