.todo-item {
  display: flex;
  margin-bottom: 10px;
}

.item-done, .item-undone {
  width: 10px;
  margin-right: 10px;
}

.item-undone {
  background: lightblue;
}

.item-done {
  background: mediumseagreen;
}

.item-text-done, .item-text-undone {
  font-weight: 600;
  cursor: pointer;
}

.item-text-done {
  text-decoration: line-through
}
