.todo-item {
  display: flex;
  margin-bottom: 10px;
}

.item-done, .item-undone, .item-doing {
  width: 10px;
  margin-right: 10px;
}

.item-undone {
  background: lightblue;
}

.item-done {
  background: mediumseagreen;
}

.item-doing {
  background: orange;
}

.item-text-done, .item-text-undone, .item-text-doing {
  font-weight: 600;
  cursor: pointer;
}

.item-text-done {
  text-decoration: line-through
}

.header {
  font-size: large;
  font-weight: 800;
}

.textbox {
  width: 180px;
  font-weight: inherit;
  font-size: inherit;
}
